<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Controle de EPI</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container-login">

    <div class="card">
        <h2>Administrativo</h2>

        <form action="/login_admin" method="POST">
            <input type="text" name="usuario" placeholder="Usuário" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <button type="submit">Entrar como Administrativo</button>
        </form>
    </div>

    <div class="card">
        <h2>Colaborador</h2>
        <p>O acesso depende de liberação administrativa.</p>

        <a href="/acesso_colaborador">
            <button>Acessar Área do Colaborador</button>
        </a>
    </div>

</div>

</body>
</html>
